In [1]:
import pandas as pd
import numpy as np

In [4]:
df_191 = pd.read_csv("Data/2019/JC-201901-citibike-tripdata.csv")
df_192 = pd.read_csv("Data/2019/JC-201902-citibike-tripdata.csv")
df_193 = pd.read_csv("Data/2019/JC-201903-citibike-tripdata.csv")
df_194 = pd.read_csv("Data/2019/JC-201904-citibike-tripdata.csv")
df_195 = pd.read_csv("Data/2019/JC-201905-citibike-tripdata.csv")
df_196 = pd.read_csv("Data/2019/JC-201906-citibike-tripdata.csv")

In [13]:
df_201 = pd.read_csv("Data/2020/JC-202001-citibike-tripdata.csv")
df_202 = pd.read_csv("Data/2020/JC-202002-citibike-tripdata.csv")
df_203 = pd.read_csv("Data/2020/JC-202003-citibike-tripdata.csv")
df_204 = pd.read_csv("Data/2020/JC-202004-citibike-tripdata.csv")
df_205 = pd.read_csv("Data/2020/JC-202005-citibike-tripdata.csv")
df_206 = pd.read_csv("Data/2020/JC-202006-citibike-tripdata.csv")

In [17]:
df_211 = pd.read_csv("Data/2021/JC-202101-citibike-tripdata.csv")
df_212 = pd.read_csv("Data/2021/JC-202102-citibike-tripdata.csv")
df_213 = pd.read_csv("Data/2021/JC-202103-citibike-tripdata.csv")
df_214 = pd.read_csv("Data/2021/JC-202104-citibike-tripdata.csv")
df_215 = pd.read_csv("Data/2021/JC-202105-citibike-tripdata.csv")
df_216 = pd.read_csv("Data/2021/JC-202106-citibike-tripdata.csv")

In [5]:
df_191.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [21]:
df_206.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [19]:
df_211.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [20]:
df_212.columns.tolist()

['starttime',
 'stoptime',
 'start station name',
 'start station id',
 'end station name',
 'end station id',
 'start station latitude',
 'start station longitude',
 'end station latitude',
 'end station longitude',
 'usertype']

In [22]:
df_191.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [23]:
df_201.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [24]:
df_211.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [29]:
df_212.dtypes

starttime                   object
stoptime                    object
start station name          object
start station id            object
end station name            object
end station id              object
start station latitude     float64
start station longitude    float64
end station latitude       float64
end station longitude      float64
usertype                    object
dtype: object

In [30]:
df_191.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [27]:
df_211.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [28]:
df_212.head()

,starttime,stoptime,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype
0,2/3/21 23:11,2/3/21 23:18,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,2/27/21 16:34,2/27/21 16:56,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,2/26/21 23:16,2/26/21 23:22,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,2/24/21 16:51,2/24/21 17:16,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,2/24/21 20:44,2/24/21 20:44,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [31]:
df_2019 = pd.concat([df_191, df_192, df_193, df_194, df_195, df_196], ignore_index=True, sort=False)

In [33]:
df_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170463,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
170464,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
170465,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
170466,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
170467,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [34]:
df_2019.to_csv("Data/2019.csv", index=False)

In [37]:
startstation_total = df_2019["start station id"].nunique()
startstation_total

52

In [36]:
endstation_total = df_2019["end station id"].nunique()
endstation_total

85

In [38]:
startname_total = df_2019["start station name"].nunique()
startname_total

52

In [39]:
endname_total = df_2019["end station name"].nunique()
endname_total

85

In [42]:
startstations = df_2019.groupby("start station name")
startstations = startstations.mean()["tripduration"]
startstations

start station name
5 Corners Library              723.179196
Astor Place                    932.212968
Baldwin at Montgomery          767.586909
Bergen Ave                     596.303597
Brunswick & 6th                474.334525
Brunswick St                   420.623765
Christ Hospital                632.570568
City Hall                      683.298094
Columbus Drive                 509.800450
Communipaw & Berry Lane       1817.294891
Dey St                         697.547431
Dixon Mills                    401.247583
Essex Light Rail               715.402622
Exchange Place                 721.646305
Fairmount Ave                  510.938920
Glenwood Ave                  1057.878484
Grand St                       683.146278
Grove St PATH                  447.323105
Hamilton Park                  513.788088
Harborside                     778.451424
Heights Elevator              1265.258065
Hilltop                        772.296134
Hoboken Ave at Monmouth St    3737.692308
JC Medical Center             1373.602293
JCBS Depot                     865.342857
Jackson Square                4917.240223
Jersey & 3rd                   481.986421
Jersey & 6th St                428.339768
Journal Square                 678.528337
Lafayette Park                 956.580000
Leonard Gordon Park            874.976169
Liberty Light Rail            2348.182348
Lincoln Park                  1706.778940
Manila & 1st                   481.892835
Marin Light Rail               671.585872
McGinley Square                585.923408
Monmouth and 6th               461.075489
Montgomery St                 1034.049746
Morris Canal                   686.609467
Newark Ave                     534.466462
Newport PATH                   602.437823
Newport Pkwy                  1152.296337
Oakland Ave                    594.666970
Paulus Hook                    789.391018
Pershing Field                2053.098298
Riverview Park                1113.195095
Sip Ave                        632.077707
Union St                      2040.334278
Van Vorst Park                 720.162929
Warren St                      846.746265
Washington St                  731.058930
York St                        714.029202
Name: tripduration, dtype: float64